/* ---------- FONTS ----------*/

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* ---------- VARIABLES ----------*/

:root {
    /* Colors */
    --herosection-top-color: hsla(252, 100%, 67%);
    --herosection-bottom-color: hsla(241, 81%, 54%);

    --score-top-color: hsla(256, 72%, 46%, 1);
    --score-bottom-color: hsla(241, 72%, 46%, 0);

    --font-color: hsl(241, 100%, 83%);
    --reaction-bg-color: hsla(0, 100%, 67%, 0.15);
    --memory-bg-color:  hsla(39, 100%, 56%, 0.15);
    --verbal-bg-color: hsla(166, 100%, 37%, 0.15);
    --visual-bg-color: hsla(234, 85%, 45%, 0.15);
    --reaction-color: hsla(0, 100%, 67%);
    --memory-color:  hsla(39, 100%, 56%);
    --verbal-color: hsla(166, 100%, 37%);
    --visual-color: hsla(234, 85%, 45%);
    --button-color: hsl(224, 30%, 27%);
}


/* ---------- RESET ----------*/

* {
    padding: 0;
    margin: 0;
}


/* ---------- LAYOUT, DESIGN ----------*/

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.herosection {
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: lightblue; */
    background: linear-gradient(to bottom, var(--herosection-top-color), var(--herosection-bottom-color));
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.title {
    color: var(--font-color);
    font-size: 1em;
}

.score {
    /* background-color: blue; */
    background: linear-gradient(to bottom, var(--score-top-color), var(--score-bottom-color));
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.your-score {
    color: white;
    font-size: 3em;
    font-weight: 800;
}

.max-score {
    color: var(--font-color);
    font-size: 0.8em;
}

.rank-explanation {
    padding: 0 61px;
}

.rank-explanation h2{
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    /* margin-bottom: 0.5em; */
}

.rank-explanation p{
    margin-top: 0.5em;
    font-size: 0.8em;
    color: var(--font-color);
}


.summary-container {
    height: 454px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 31px;
    padding-right: 31px;
    /* background-color: yellow; */
}

.summary-container h2 {
    font-size: 1em;
    color: var(--button-color);
}

.category {
    /* background-color: magenta; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-radius: 10px;
    padding: 0 19px;
}

.reaction {
    background-color: var(--reaction-bg-color);
}

.memory {
    background-color: var(--memory-bg-color);
}

.verbal {
    background-color: var(--verbal-bg-color);
}

.visual {
    background-color: var(--visual-bg-color);
}

.category-name-container {
    /* background-color: cyan; */
    display: flex;
    align-items: center;
}

.category-name-container img {
    display: block;
}

.category-name {
    display: inline-block;
    margin-left: 15px;
}

.reaction .category-name {
    color: var(--reaction-color);
}

.memory .category-name {
    color: var(--memory-color);
}

.verbal .category-name {
    color: var(--verbal-color);
}

.visual .category-name {
    color: var(--visual-color);
}

.category-score {
    /* background-color: lightgreen; */
    height: 1em;
}

.category-max-score {
    color: var(--font-color);
}

.button {
    background-color: var(--button-color);
    text-align: center;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    border-radius: 28px;
}

.button-text {
    color: white;
}

 





/* ---------- STATES ----------*/